<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <div class="all">
            <% if(typeof error!='undefined' ){%>
                <h2>
                    <%=error%>
                </h2>
                <%}else{%>
                    <div class="right_row">
                        <div class="row border-radius">
                            <div class="feed">
                                <div class="feed_title">
                                    <a href="/users/<%=post.username%>"><img src="images/users/<%=post.user_image%>"
                                            alt="" /></a>
                                    <span><b>
                                            <a style="color: black;" href="/users/<%=post.username%>">
                                                <%=post.username%>
                                            </a><br>
                                        </b>
                                        <p style="color: #161910;">
                                            <%=post.last_update%>
                                        </p>
                                    </span>
                                </div>
                                <div class="feed_content">
                                    <p>
                                        <%=post.post_content%>
                                    </p>
                                    <%if(post.images.length>0){%>
                                        <div class="feed_content_image">
                                            <img src="images/posts/<%=post.single_image.img_src%>" alt="" />
                                        </div>
                                        <%}%>
                                </div>
                                <div class="feed_footer">
                                    <ul class="feed_footer_left">
                                        <% if (post.liked){%>
                                            <i class="fa-solid fa-thumbs-up unlike-buttons"
                                                data-post_id=<%=post.post_id%>></i>
                                            <%}else{%>
                                                <i class="fa-regular fa-thumbs-up like-buttons"
                                                    data-post_id=<%=post.post_id%>></i>
                                                <%}%>

                                                    <li class="hover-orange selected-orange">
                                                        <%=post.likes_number%>
                                                    </li>
                                    </ul>
                                    <ul class="feed_footer_right">
                                        <li>
                                        <li class="hover-orange selected-orange">
                                        <li class="hover-orange"><i class="fa fa-comments-o"></i>
                                            <%=post.comments_number%>
                                        </li>
                                        </li>
                                    </ul>
                                </div>
                                <section class="comments-section">
                                    <div class="comment-form add-comment">
                                        <img src="images/users/<%=user.profile_image%>" class="comment-avatar" alt=""
                                            srcset="">
                                        <input type="text" id="comment" placeholder="Leave a Comment">
                                        <button>Submit</button>
                                    </div> <br>
                                    <% if(post.comments.length){%>
                                        <% post.comments.forEach((comment)=>{%>
                                            <div class="comment" data-comment_id=<%=comment.comment_id%>>
                                                <img src="images/users/<%=comment.user_image%>" alt="User Avatar"
                                                    class="comment-avatar">
                                                <div class="comment-details">
                                                    <h3 class="comment-author">
                                                        <a href="/users/<%=comment.username%>">
                                                            <%=comment.username%>
                                                        </a><small>
                                                            <%=comment.comment_time%>
                                                        </small>
                                                    </h3>
                                                    <p class="comment-text">
                                                        <%=comment.comment_content%>
                                                    </p>
                                                </div>
                                                <% if(comment.isOwner){%>
                                                    <span class="edit-comment-button" title="Edit Comment"><i
                                                            class="fa-solid fa-pen fa-xs"></i></span>
                                                    <span class="delete-comment-button" title="Delete Comment"><i
                                                            class="fa-solid fa-minus"></i></span>
                                                    <%}%>

                                            </div>
                                            <%})%>
                                                <%}%>
                                </section>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="suggestions_row">
                        <%- include('partials/friends-bar')%>
                            <%- include('partials/tags-bar')%>
                    </div>
        </div>
        <div class="chat-popup"></div>
        <%- include('partials/modals')%>
            <%- include('partials/footer') %>